.ad
  //- Google AdSense
  script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  // Ad1
  ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-5265613840106782", data-ad-slot="3816907558", data-ad-format="auto")
  script
    :verbatim
      (adsbygoogle = window.adsbygoogle || []).push({});
