//- 忍者おまとめボタン
.ninja_onebutton
  script
    :js
      //<![CDATA[
      (function(d){
      if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_a704684b27e8fa7163b435a341fafb54)=='undefined'){
          document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/a704684b27e8fa7163b435a341fafb54'><\/sc"+"ript>");
      }else{
          window.NINJA_CO_JP_ONETAG_BUTTON_a704684b27e8fa7163b435a341fafb54.ONETAGButton_Load();}
      })(document);
      //]]>
  span.ninja_onebutton_hidden(style="display:none")
  span.ninja_onebutton_hidden(style="display:none")
